
# Introduction

<p align="center">
  <img src=".github/logo.png" width="300" height="175" alt="Bootstrap npm logo">
</p>

## About Project

### Developer&#58;

|Name | Ryan Valizan
|---|---
|GitHub | [@devnetkc](https://github.com/devnetkc)
|Project | [javascript-test](https://github.com/devnetkc/javascript-test)
|Email | ryan@vnetkc.com


#### Tools/Resources Used&#58;

|Tool | Usage
|---|---
|IDE | VSCode
|Extensions | [Project Recommended List](./.vscode/extensions.json)
|Browser | Chrome
|System | MacOS
|Resources | Google, StackOverflow, regex101, jsdoc.app

### Packages Used&#58;

* [Bootstrap](https://github.com/twbs/bootstrap-npm-starter/)
* [jsdoc-to-markdown](https://www.npmjs.com/package/jsdoc-to-markdown)

### Usage

Be sure to have [Node.js](https://nodejs.org/) installed before proceeding. **Node v16 is recommended and was used to compile project**

```shell
# Compile Sass
npm run css-compile

# Watch Sass for changes (uses nodemon)
npm run watch

# Start local server
npm run server

# Watches Sass for changes and starts a local server
npm start
```

For the most straightforward development, open Terminal and run `npm start`.

Open <http://localhost:3000> to see the page in action.

## Code Documentation

{{>main}}

## Copyright

&copy; @devnetkc 2022 and licensed MIT.
